@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
body {
  font-family: "Josefin Sans", sans-serif;
  background-color:black;
  color: #51d1f6;
}
a {
  font-size: 20px;
  color: inherit;
  outline: none;
  text-decoration: none;
}
#nav-container{
  display: flex;
  justify-content: space-around;
  padding-bottom : 10px;
  border-bottom: 1px solid #51d1f6;
  margin-bottom: 30px;
}

.nav-bar-logo {
  height: 80px;
  width: auto;
}

#game{
  display:flex;
  flex-direction: column;
  align-items: center;
}
